
**PYTHON IMPLEMENTATION:MLEXTEND**
-MLxtend(Machine Learning Extensions) is a python library of useful tools for the day-to-day data science tasks.


from mlxtend.frequent_patterns import apriori 


Apriori function to extract frequent itemsets for association rule mining.


-Support threshold can be mentioned to retrive frequent itemset.
-from mlxtend.frequent_patterns import association_rules


-Function to generate association rules from frequent itemsets.
-Dataframe.metrics and minimum threshold needed to be mentioned.
-Metric values are :support,confidence ,lift.

In [5]:
dataset=[['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
         ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
         ['Milk','Apple','Kidney Beans','Eggs'],
         ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
         ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']
         ]

In [6]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [7]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [6]:
!pip install mlxtend

Requirement already satisfied: mlxtend in e:\apps\anaconda\lib\site-packages (0.19.0)
Requirement already satisfied: scikit-learn>=0.20.3 in e:\apps\anaconda\lib\site-packages (from mlxtend) (0.21.2)
Requirement already satisfied: numpy>=1.16.2 in e:\apps\anaconda\lib\site-packages (from mlxtend) (1.16.4)
Requirement already satisfied: joblib>=0.13.2 in e:\apps\anaconda\lib\site-packages (from mlxtend) (0.13.2)
Requirement already satisfied: scipy>=1.2.1 in e:\apps\anaconda\lib\site-packages (from mlxtend) (1.2.1)
Requirement already satisfied: pandas>=0.24.2 in e:\apps\anaconda\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: matplotlib>=3.0.0 in e:\apps\anaconda\lib\site-packages (from mlxtend) (3.1.0)
Requirement already satisfied: setuptools in e:\apps\anaconda\lib\site-packages (from mlxtend) (41.0.1)
Requirement already satisfied: python-dateutil>=2.5.0 in e:\apps\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2.8.0)
Requirement already satisfied: pytz>=2011k in e:\apps\anaconda\lib\site-packages (from pandas>=0.24.2->mlxtend) (2019.1)
Requirement already satisfied: cycler>=0.10 in e:\apps\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\apps\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in e:\apps\anaconda\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.4.0)
Requirement already satisfied: six>=1.5 in e:\apps\anaconda\lib\site-packages (from python-dateutil>=2.5.0->pandas>=0.24.2->mlxtend) (1.12.0)

In [8]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

In [12]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [13]:
from mlxtend.frequent_patterns import apriori 
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Onion, Eggs)
7       0.6         (Milk, Kidney Beans)
8       0.6        (Onion, Kidney Beans)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Onion, Eggs, Kidney Beans)

# Association Rule Mining

In [12]:
from mlxtend.frequent_patterns import association_rules
res=association_rules(frequent_itemsets,metric='confidence',min_threshold=0.7)
res

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
3,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Onion, Eggs)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
8,"(Onion, Kidney Beans)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
9,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
10,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf
11,(Eggs),"(Onion, Kidney Beans)",0.8,0.6,0.6,0.75,1.25,0.12,1.6

In [14]:
res1=res[['antecedents','consequents','support','confidence','lift']]
res1

              antecedents            consequents  support  confidence  lift
0                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
2                 (Onion)                 (Eggs)      0.6        1.00  1.25
3                  (Eggs)                (Onion)      0.6        0.75  1.25
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00  1.00
6                (Yogurt)         (Kidney Beans)      0.6        1.00  1.00
7           (Onion, Eggs)         (Kidney Beans)      0.6        1.00  1.00
8   (Onion, Kidney Beans)                 (Eggs)      0.6        1.00  1.25
9    (Eggs, Kidney Beans)                (Onion)      0.6        0.75  1.25
10                (Onion)   (Eggs, Kidney Beans)      0.6        1.00  1.25
11                 (Eggs)  (Onion, Kidney Beans)      0.6        0.75  1.25

In [15]:
res2=res1[res1['confidence']>=1]
res2

              antecedents           consequents  support  confidence  lift
0                  (Eggs)        (Kidney Beans)      0.8         1.0  1.00
2                 (Onion)                (Eggs)      0.6         1.0  1.25
4                  (Milk)        (Kidney Beans)      0.6         1.0  1.00
5                 (Onion)        (Kidney Beans)      0.6         1.0  1.00
6                (Yogurt)        (Kidney Beans)      0.6         1.0  1.00
7           (Onion, Eggs)        (Kidney Beans)      0.6         1.0  1.00
8   (Onion, Kidney Beans)                (Eggs)      0.6         1.0  1.25
10                (Onion)  (Eggs, Kidney Beans)      0.6         1.0  1.25